 .upload-wrapper {
        width: auto;
        height: auto; 
        
    }

    .upload-wrapper .upload-target{
        width:102px;
        height:102px;
        float:left; 
        border:1px solid #ccc;
        cursor:pointer; 
    }
    .upload-wrapper .upload-target .upload-img {
        width: 100px;
        height: 100px;
        float: left;
        position:relative;
        top:0;
    }

    .upload-wrapper input[type=file] {
        display: none;
    }
    .EmpLeaveDate{
        display:none;
    }