
/*-----Validate------*/
.error {
}

.error_num {
}

._error {
    border: red solid 1px;
}

label.error {
    color: red;
    font-weight: normal;
    font-size: 12px;
}

label.c_error {
    color: red;
    font-weight: normal;
    font-size: 12px;
}

label.error_num {
    color: red;
    font-weight: normal;
    font-size: 12px;
}

label.error_numtest {
    color: red;
    font-weight: normal;
    font-size: 12px;
}

span.error {
    color: red;
}

.fl_l {
    float: left;
}

.fl_r {
    float: right;
}

.fl_n {
    float: none !important;
}

.eclipse {
    -o-text-overflow: ellipsis; /* Opera */
    text-overflow: ellipsis; /* IE, Safari (WebKit) */
    overflow: hidden; /* don't show excess chars */
    white-space: nowrap; /* force single line */
}

.show {
    display: block;
}

.hide {
    display: none;
}

.bor_0 {
    border-radius: 0px;
}

.clean {
    clear: both;
}
.b_b {
    border-bottom:1px solid #ccc;
}

.clean3 {
    clear: both;
    height: 3px;
}

.clean5 {
    clear: both;
    height: 5px;
}

.clean7 {
    clear: both;
    height: 7px;
}

.clean8 {
    clear: both;
    height: 8px;
}

.clean10 {
    clear: both;
    height: 10px;
}

.clean15 {
    clear: both;
    height: 15px;
}

.clean20 {
    clear: both;
    height: 20px;
}

.clean25 {
    clear: both;
    height: 25px;
}

.clean27 {
    clear: both;
    height: 27px;
}

.clean28 {
    clear: both;
    height: 28px;
}

.clean30 {
    clear: both;
    height: 30px;
}

.clean35 {
    clear: both;
    height: 35px;
}

.clean37 {
    clear: both;
    height: 37px;
}

.clean40 {
    clear: both;
    height: 40px;
}

.clean48 {
    clear: both;
    height: 48px;
}

.clean50 {
    clear: both;
    height: 50px;
}

.clean60 {
    clear: both;
    height: 60px;
}

.clean63 {
    clear: both;
    height: 63px;
}

.clean70 {
    clear: both;
    height: 70px;
}

.clean75 {
    clear: both;
    height: 75px;
}

.clean80 {
    clear: both;
    height: 80px;
}

.clean85 {
    clear: both;
    height: 85px;
}

.clean86 {
    clear: both;
    height: 86px;
}

.clean90 {
    clear: both;
    height: 90px;
}

.clean100 {
    clear: both;
    height: 100px;
}

.clean101 {
    clear: both;
    height: 101px;
}

.clean110 {
    clear: both;
    height: 110px;
}

.clean120 {
    clear: both;
    height: 120px;
}

.clean130 {
    clear: both;
    height: 130px;
}

.clean140 {
    clear: both;
    height: 140px;
}

.clean150 {
    clear: both;
    height: 150px;
}

.clean160 {
    clear: both;
    height: 160px;
}

.clean170 {
    clear: both;
    height: 170px;
}

.clean180 {
    clear: both;
    height: 180px;
}

.clean190 {
    clear: both;
    height: 190px;
}

.clean200 {
    clear: both;
    height: 200px;
}

.clean328 {
    clear: both;
    height: 328px;
}

.cursor, .cursor-pointer {
    cursor: pointer;
}
.mar_-1 {
    margin:-1px;
}
.mar_0 {
    margin: 0px;
}

.mar_5 {
    margin: 5px;
}

.mar_10 {
    margin: 10px;
}

.mar_15 {
    margin: 15px;
}

.mar_20 {
    margin: 20px;
}

.mar_30 {
    margin: 30px;
}

.mar_t-3 {
    margin-top: -3px;
}

.mar_t-1 {
    margin-top: -1px;
}

.mar_t0 {
    margin-top: 0px;
}

.mar_t_i0 {
    margin-top: 0px !important;
}

.mar_t1 {
    margin-top: 1px;
}

.mar_t2 {
    margin-top: 2px;
}

.mar_t3 {
    margin-top: 3px;
}

.mar_t4 {
    margin-top: 4px;
}

.mar_t5 {
    margin-top: 5px;
}

.mar_t6 {
    margin-top: 6px;
}

.mar_t7 {
    margin-top: 7px;
}

.mar_t8 {
    margin-top: 8px;
}

.mar_t9 {
    margin-top: 9px;
}

.mar_t10 {
    margin-top: 10px;
}

.mar_t12 {
    margin-top: 12px;
}

.mar_t13 {
    margin-top: 13px;
}

.mar_t15 {
    margin-top: 15px;
}

.mar_t18 {
    margin-top: 18px;
}

.mar_t20 {
    margin-top: 20px;
}

.mar_t25 {
    margin-top: 25px;
}

.mar_t30 {
    margin-top: 30px;
}

.mar_t40 {
    margin-top: 40px;
}

.mar_t50 {
    margin-top: 50px;
}

.mar_t60 {
    margin-top: 60px;
}

.mar_t55 {
    margin-top: 55px;
}

.mar_t57 {
    margin-top: 57px;
}

.mar_t70 {
    margin-top: 70px;
}

.mar_t80 {
    margin-top: 80px;
}

.mar_t100 {
    margin-top: 100px;
}

.mar_t110 {
    margin-top: 110px;
}

.mar_t120 {
    margin-top: 120px;
}

.mar_t130 {
    margin-top: 130px;
}

.mar_t140 {
    margin-top: 140px;
}

.mar_t150 {
    margin-top: 150px;
}

.mar_t175 {
    margin-top: 175px;
}

.mar_t200 {
    margin-top: 200px;
}

.mar_t-5 {
    margin-top: -5px;
}

.mar_tl17 {
    margin: 17px 0 0 17px;
}

.mar_tb5 {
    margin: 5px 0 5px 0px;
}

.mar_r-15 {
    margin-right: -15px;
}

.mar_r0 {
    margin-right: 0px !important;
}

.mar_r2 {
    margin-right: 2px;
}

.mar_r5 {
    margin-right: 5px;
}

.mar_r6 {
    margin-right: 6px;
}

.mar_r7 {
    margin-right: 7px;
}

.mar_r10 {
    margin-right: 10px;
}

.mar_r15 {
    margin-right: 15px;
}

.mar_r25 {
    margin-right: 25px;
}

.mar_r20 {
    margin-right: 20px;
}

.mar_r30 {
    margin-right: 30px;
}

.mar_r35 {
    margin-right: 35px;
}

.mar_r40 {
    margin-right: 40px;
}

.mar_r50 {
    margin-right: 50px;
}

.mar_r60 {
    margin-right: 60px;
}

.mar_r100 {
    margin-right: 100px;
}

.mar_l0 {
    margin-left: 0px;
}

.mar_l1 {
    margin-left: 1px;
}

.mar_l2 {
    margin-left: 2px;
}

.mar_l3 {
    margin-left: 3px;
}

.mar_l4 {
    margin-left: 4px;
}

.mar_l5 {
    margin-left: 5px;
}

.mar_l6 {
    margin-left: 6px;
}

.mar_l7 {
    margin-left: 7px;
}

.mar_l8 {
    margin-left: 8px;
}

.mar_l9 {
    margin-left: 9px;
}

.mar_l10 {
    margin-left: 10px;
}

.mar_l12 {
    margin-left: 12px;
}

.mar_l13 {
    margin-left: 13px;
}

.mar_l15 {
    margin-left: 15px;
}

.mar_l17 {
    margin-left: 17px;
}

.mar_l18 {
    margin-left: 18px;
}

.mar_l20 {
    margin-left: 20px;
}

.mar_l22 {
    margin-left: 22px;
}

.mar_l25 {
    margin-left: 25px;
}

.mar_l27 {
    margin-left: 27px;
}

.mar_l29 {
    margin-left: 29px;
}

.mar_l30 {
    margin-left: 30px;
}

.mar_l35 {
    margin-left: 35px;
}

.mar_l40 {
    margin-left: 40px;
}

.mar_l45 {
    margin-left: 45px;
}

.mar_l50 {
    margin-left: 50px;
}

.mar_l55 {
    margin-left: 55px;
}

.mar_l60 {
    margin-left: 60px;
}

.mar_l65 {
    margin-left: 65px;
}

.mar_l70 {
    margin-left: 70px;
}

.mar_l75 {
    margin-left: 75px;
}

.mar_l80 {
    margin-left: 80px;
}
.mar_l90 {
    margin-left: 90px;
}
.mar_l100 {
    margin-left: 100px;
}

.mar_l110 {
    margin-left: 110px;
}
.mar_l119 {
    margin-left: 119px;
}
.mar_l120 {
    margin-left: 120px;
}

.mar_l130 {
    margin-left: 130px;
}

.mar_l150 {
    margin-left: 150px;
}

.mar_l160 {
    margin-left: 160px;
}

.mar_l185 {
    margin-left: 185px;
}
.mar_l180 {
    margin-left: 180px;
}
.mar_l190{
    margin-left: 190px;
}
.mar_l200 {
    margin-left: 200px;
}
.mar_l205 {
    margin-left: 205px;
}
.mar_l250 {
    margin-left: 250px;
}
.mar_l170 {
    margin-left: 170px;
}

.mar_l215 {
    margin-left: 215px;
}
.mar_l220 {
    margin-left: 220px;
}
.mar_l250 {
    margin-left: 250px;
}
.mar_l240 {
    margin-left: 240px;
}

.mar_l290 {
    margin-left: 290px;
}

.mar_l300 {
    margin-left: 300px;
}
.mar_l320 {
    margin-left: 320px;
}
.mar_l390 {
    margin-left: 390px;
}
.mar_l400 {
    margin-left: 400px;
}
.mar_l450 {
    margin-left: 450px;
}
.mar_l470 {
    margin-left: 470px;
}
.mar_l500 {
    margin-left: 500px;
}

.mar_l500 {
    margin-left: 550px;
}

.mar_rl3 {
    margin: 0px 3px 0 3px;
}

.mar_rl5 {
    margin: 0px 5px 0 5px;
}

.mar_rl10 {
    margin: 0px 10px 0 10px;
}

.mar_tr10 {
    margin: 10px 0px 0 10px;
}

.mar_rl20 {
    margin: 0px 20px 0 20px;
}

.mar_rl30 {
    margin: 0px 30px 0 30px;
}

.mar_t8r30 {
    margin: 8px 30px 0px 0px;
}

.mar_tl10 {
    margin: 10px 0 0 10px;
}

.mar_tb10 {
    margin: 10px 0px;
}

.mar_tb20 {
    margin: 20px 0px;
}

.mar_tbl10 {
    margin: 10px 0 10px 10px;
}

.margin_b10 {
    margin-bottom: 10px;
}

.mar_b0 {
    margin-bottom: 0 !important;
}

.mar_b5 {
    margin-bottom: 5px;
}

.mar_b2 {
    margin-bottom: 2px;
}

.mar_b10 {
    margin-bottom: 10px;
}

.mar_b12 {
    margin-bottom: 12px;
}

.mar_b15 {
    margin-bottom: 15px;
}

.mar_b20 {
    margin-bottom: 20px;
}

.mar_b30 {
    margin-bottom: 30px;
}

.mar_b40 {
    margin-bottom: 40px;
}

.mar_b50 {
    margin-bottom: 50px;
}

.mar_b60 {
    margin-bottom: 60px;
}


.padd0 {
    padding: 0px;
}

.padd2 {
    padding-top: 2px;
}

.padd5 {
    padding: 5px;
}
.padd_r5_im { padding-right: 5px !important;}
.padd10 {
    padding: 10px;
}

.padd15 {
    padding: 15px;
}

.padd_t5 {
    padding-top: 5px;
}

.padd_t8 {
    padding-top: 8px;
}

.padd_t10 {
    padding-top: 10px;
}

.padd_t15 {
    padding-top: 15px;
}

.padd_t20 {
    padding-top: 20px;
}

.padd_t25 {
    padding-top: 25px;
}

.padd_t40 {
    padding-top: 40px;
}

.padd_t4 {
    padding-top: 4px;
}

.padd_l0 {
    padding-left: 0px;
}

.padd_l5 {
    padding-left: 5px;
}

.padd_l8 {
    padding-left: 8px;
}

.padd_l10 {
    padding-left: 10px;
}

.padd_l15 {
    padding-left: 15px;
}

.padd_l15im {
    padding-left: 15px !important;
}

.padd_l20 {
    padding-left: 20px;
}

.padd_l20im {
    padding-left: 20px !important;
}

.padd_l25 {
    padding-left: 25px;
}

.padd_l25im {
    padding-left: 25px !important;
}

.padd_l30 {
    padding-left: 30px;
}

.padd_l30im {
    padding-left: 30px !important;
}

.padd_l35 {
    padding-left: 35px;
}

.padd_l50 {
    padding-left: 50px;
}

.padd_l75 {
    padding-left: 75px;
}

.padd_r5 {
    padding-right: 5px;
}

.padd_r10 {
    padding-right: 10px;
}

.padd_r20 {
    padding-right: 20px;
}

.padd_r25 {
    padding-right: 25px;
}

.padd_t90 {
    padding-top: 90px;
}

.padd_b4 {
    padding-bottom: 4px;
}

.padd_b5 {
    padding-bottom: 5px;
}

.padd_b10 {
    padding-bottom: 10px;
}

.padd_30 {
    padding: 30px;
}

.padd_20 {
    padding: 20px;
}

.padd_10 {
    padding: 10px;
}

.padd_5 {
    padding: 5px;
}

.padd_tb5 {
    padding: 5px 0px;
}

.padd_tb10 {
    padding: 10px 0px;
}

.padd_tb20 {
    padding: 20px 0px;
}

.padd_lr5 {
    padding: 0 5px 0 5px;
}

.padd_lr10 {
    padding: 0 10px 0 10px;
}

.padd_lr20 {
    padding: 0 20px 0 20px;
}

.padd_lr30 {
    padding: 0 30px 0 30px;
}
.padd_lr40 {
    padding: 0 30px 0 30px;
}
.padd_lr50 {
    padding: 0 50px 0 50px;
}
.padd_lr60 {
    padding: 0 60px 0 60px;
}
.padd_rl5 {
    padding: 0 5px;
}

.padd_rl10 {
    padding: 0 10px;
}

.brdr {
    border: 1px solid #ddd;
}

.br_gray89 {
    border: 1px solid #e3e3e3;
}
/*===========================Height======================*/
.h12 {
    height: 12px;
}

.h13 {
    height: 13px;
}

.h14 {
    height: 14px;
}

.h15 {
    height: 15px;
}

.h16 {
    height: 16px;
}

.h20 {
    height: 20px;
}

.h25 {
    height: 25px;
}

.h30 {
    height: 30px;
}

.h35 {
    height: 35px;
}

.h40 {
    height: 40px;
}

.h45 {
    height: 45px;
}

.h52 {
    height: 52px;
}

.h70 {
    height: 70px;
}

.h150 {
    height: 150px;
}

.hAuto {
    height: auto;
}

.h350 {
    height: 350px;
}
/*===========================Width======================*/
.w10 {
    width: 10px;
}

.w20 {
    width: 20px;
}

.w30 {
    width: 30px;
}

.w40 {
    width: 40px;
}

.w50 {
    width: 50px;
}

.w60 {
    width: 60px;
}

.w70 {
    width: 70px;
}

.w80 {
    width: 80px;
}

.w90 {
    width: 90px;
}

.w95 {
    width: 95px;
}

.w100 {
    width: 100px;
}

.w110 {
    width: 110px;
}

.w120 {
    width: 120px;
}

.w130 {
    width: 130px;
}

.w135 {
    width: 135px;
}

.w140 {
    width: 140px;
}
.w145 {
    width: 145px;
}

.w150 {
    width: 150px;
}

.w155 {
    width: 155px;
}

.w170 {
    width: 170px;
}

.w175 {
    width: 175px;
}

.w179 {
    width: 179px;
}

.w180 {
    width: 180px;
}

.w195 {
    width: 195px;
}

.w200 {
    width: 200px;
}

.w210 {
    width: 210px;
}

.w220 {
    width: 220px;
}

.w225 {
    width: 225px;
}

.w230 {
    width: 230px !important;
}

.w238 {
    width: 238px;
}

.w240 {
    width: 240px;
}

.w250 {
    width: 250px;
}

.w300 {
    width: 300px;
}
.w302 {
    width: 302px;
}
.w335{
    width: 335px;
}
.w340{
    width: 340px;
}
.w360 {
    width: 360px;
}

.w400 {
    width: 400px;
}

.w418 {
    width: 418px;
}

.w450 {
    width: 450px;
}

.w500 {
    width: 500px;
}

.w700 {
    width: 700px;
}

.w720 {
    width: 720px;
}

.w750 {
    width: 750px;
}

.w760 {
    width: 760px;
}

.w780 {
    width: 780px;
}

.w800 {
    width: 800px;
}

.w910 {
    width: 910px;
}

.txt_c {
    text-align: center;
}
.txt_c_im {
    text-align: center !important;
}
.txt_c > span {
    text-align: center;
}

.txt_r {
    text-align: right;
}

.txt_r_im {
    text-align: right !important;
}

.txt_l {
    text-align: left;
}
.txt_l_im {
    text-align: left !important;
}
/*====================opacity======================*/
.opacity-1 {
    opacity: 0.1;
}

.opacity-2 {
    opacity: 0.2;
}

.opacity-3 {
    opacity: 0.3;
}

.opacity-4 {
    opacity: 0.4;
}

.opacity-5 {
    opacity: 0.5;
}

.opacity-6 {
    opacity: 0.6;
}

.opacity-7 {
    opacity: 0.7;
}

.opacity-8 {
    opacity: 0.8;
}

.opacity-9 {
    opacity: 0.9;
}
/*================--Font--==================*/
.b {
    font-weight: bold;
}

.font_center, .text_c {
    text-align: center;
}

.font_right, .text_r {
    text-align: right;
}

.font_left, .text_l {
    text-align: left;
}

.font-ss {
    font-size: 10px;
}

.font-s {
    font-size: 11px;
}

.font-m {
    font-size: 13px;
}

.font-mm {
    font-size: 14px;
}

.font-l {
    font-size: 15px;
}

.font-xl {
    font-size: 18px;
}

.font-xx {
    font-size: 20px;
}

.font-xxl {
    font-size: 22px;
}

.font-blue {
    color: #007AFF;
}

.font-black {
    color: #000000;
}

.font-midblue {
    color: #007AFF;
}

.font-warning {
    color: #f0ad4e;
}

.font-red {
    color: #FF1300;
}

.font-red_icon {
    color: #FD2F2F;
}

.font-green {
    color: #009999;
}

.font-orange {
    color: #F1B35C;
}

.font-yellow {
    color: yellow;
}

.font-aqua {
    color: #2AAABB;
}

.font-redlight {
    color: #d9534f;
}

.font-normal {
    font-weight: normal;
}

.font-graylitht {
    color: #999999;
}

.font-gray {
    color: #999999;
}

.font-subheading {
    font-size: 20px;
    font-family: 'Segoe UI Regular', 'Segoe UI';
    font-weight: 400;
    font-style: normal;
}

.font_13 {
    font-size: 13px;
}

.font_14 {
    font-size: 14px;
}

.txt_w70 {
    width: 70% !important;
    margin-left: 0px !important;
}

.txt_w500 {
    width: 500px !important;
}

.txt_w200 {
    width: 200px !important;
}

.txt_w180 {
    width: 180px !important;
}

.txt_w135 {
    width: 135px !important;
}

.txt_w245 {
    width: 245px !important;
}

.txt_w290 {
    width: 290px !important;
}

.txt_w280 {
    width: 280px !important;
}

.txt_w470 {
    width: 470px !important;
}

.txt_w480 {
    width: 480px !important;
}

.txt_w490 {
    width: 490px !important;
}
