.cdp {
  position: relative;
  text-align: center;
  font-size: 0;
  z-index: 6;
  margin: 11px 0;
  animation: cdp-in 500ms ease both;
  animation-timeout: 200ms;
}
.page-item {
  font-size: 14px;
  text-decoration: none;
  transition: background 250ms;
  /* display: inline-block; */
  text-transform: uppercase;
  margin: 0 3px 6px;
  height: 30px;
  min-width: 20px;
  border-radius: 38px;
  border: 2px solid black;
  line-height: 30px;
  padding: 0 14px !important;
  color: black;
  font-weight: 700;
  letter-spacing: .03em;
  display: none;
}
.page-item {
  display: inline-block;
}
.page-item:hover {
  background-color: #000;
  color: #fff;
}
.page-item_hover {
  background-color: #000;
  color: #fff;
}
