
body,html {
    width:100%; 
    height:100%;
    background-color: #F8F8F8;
    font-size: 32px;
    color: #0063B1;
    text-align: center; 
}
.error-page{
    width:50%;
    margin:auto;
    top: 20%;
    position: relative;
}
body div {
    font-family: 'ThaiSanLite';
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
}

.img-lock {
    width: 60px;
    height: 70px;
    background-image: url('/Content/Default/Images/icon-default/icon-lock.png');
    background-size: 55px 60px;
    background-repeat: no-repeat;
    margin: auto;
}
.img-notfound {
    width: 60px;
    height: 70px;
    background-image: url('/Content/Default/Images/icon-default/icon-notfound.png');
    background-size: 55px 60px;
    background-repeat: no-repeat;
    margin: auto;
}

button.back{
    width:130px;
    height:40px;
    border:1px solid #0063B1;
    color:#0063B1;
    background-color:white;
    font-size:24px;
    border-radius:3px;
    margin-top:20px;
    font-family: 'ThaiSanLite';
   cursor:pointer;
}
button.back:active,
button.back:focus,
button.back:hover{
    color:white;
    background-color:#0063B1;
}