 .frm-billing{
       width:530px !important;
       border-right:1px #F2F2F2 solid;
       /*margin: 0px 20px 0 0 !important;*/
       min-height: 200px;
    }
    .frm-recive{
       width:530px !important;
    }
    .item-wrapper{
        width: 270px;
        height: auto;
        display:none;
        margin: 12px 0 0 0;
        clear: both;
    }
    .item-title{
        font-size: 13px;
        color: #333333;
        font-weight:bold;
    }
    .item{
        border-radius: 50%;
	    width: 28px;
	    height: 28px; 
        border:1px #F4F4F4 solid;
        text-align: center;
        line-height: 25px;
        float:left;
        margin:5px;
        color: #333333;
        cursor:pointer;
    }
     .item.active{
         color: #FFFFFF;
         background:#2489C5;
     }
     .check-error{
         text-align: left;
    padding: 0px 0 0 355px;
     }

    .wrapper-body .wrapper-content .body-content #Detail .frm-default.frm-sale.frm-left {
        width: 50% !important;
    }
    #Detail .frm-default.frm-sale .frm-group .frm-label {
        width: 160px !important;
    }    
    #Detail .frm-default.frm-sale .frm-group .frm-label-child {
        float: left;
        width: 95px;
    }    
    #Detail .frm-default.frm-sale .frm-group input.picker-text {
        width: 230px;
    }
    #Detail .frm-content {
        padding-right: 0px;
        padding-left: 0px;
    }
    /*#Detail .frm-default .frm-group .frm-content {
        padding-left: 0px !important;
        padding-right: 10px !important;
    }*/
    #Detail .frm-default .frm-group .frm-content-linear {
        padding-left: 0px !important;
    }
    label.frm-label-child{
        margin: 4px 0;
    }
    label.frm-label-child.require{
        margin: 4px 0 -6px 6px;
        width: 89px !important;
    }
    label.frm-label-child.require:before{
        content: "* " !important;
        color: #FF0000;
        margin-left: -10px;
        position: absolute;
    }