#tabWorkFlow,#tabWFAR,#tabWFAP,#tabAPARGL{ 
    margin:auto auto;
    float:none;
} 
.wrapper-body .wrapper-content{
    padding-top:10px;
}
/*.dropdown-menu{
    left:40px!important;
} มีผลกับหน้า /Inventory/Index
*/
.nav-workflow-tab{     
    width: 290px;
    padding: 10px 30px 0px 30px;
    list-style: none;  
    margin:auto auto; 
    border:none;
}
.nav-workflow-tab li{ 
    font-family:'ThaiSanLite';
    font-size:36px;
    cursor:pointer;
    min-width:90px;
    width:auto;
    padding:5px;
    text-align:center;  
}
.nav-workflow-tab li.open{ 
    border-bottom:3px solid #0063B1;
}
.nav-workflow-tab li:hover{
    border-bottom:3px solid #0063B1;
}
.nav-clear{ 
    border-bottom: 1px solid #E4E4E4; 
    min-width: 1062px;
    height:1px;
}

.wf{
    width:140px;
    float:left;
    height:122px;
    position: relative;
}
.wf:hover{
    background:#94BEDE;
    border-radius:5px;
}
.wf:hover .wf-btn{
    display:block;
}
.wf .wf-bg{ 
    height:90px;
    border:1px solid #0063B1;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    text-align: center;
    padding-top: 12px;
}.wf 
.wf-bg.coming-soon{  
     cursor:default;
}
.wf .wf-bg.coming-soon span{  
    position: absolute;
    left: 28px;
    top: 33px;
    padding: 5px;
    background-color: #0063B1;
    color: #fff;
    border-radius: 3px;
}
.wf .wf-name{
    height:32px;
    background:#0063B1; 
    border:1px solid #0063B1; 
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    color:white;
    text-align: center;
    padding-top: 5px;
}
.wf .wf-btn{
    display:none;
    position: relative;
    width: 70px;
    margin: auto auto;
    top: -90px;
}
.wf .wf-btn .list{
    background-image:url('/Content/Default/Images/icon-menu/flow-list.png');
    background-size:30px;
    width:30px;
    height:30px;
    float:left;
    cursor:pointer;
}
.wf .wf-btn .new{
    background-image:url('/Content/Default/Images/icon-menu/flow-new.png');
    background-size:30px;
    width:30px;
    height:30px;
    float:left;
    margin-left:10px;
    cursor:pointer;
}

.dotline{
    color:#0063B1;  
    position:relative;
} 
.dotline .dotline-connec{
    width: 0px;
    height: 0px; 
    position:absolute;
}
.dotline .dotline-connec.horizon-right{
    top: -8px;
    right: -1px;
    
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 13px solid #0063B1;
}
.dotline .dotline-connec.horizon-left{
    top: -8px;
    left: -1px; 
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 13px solid #0063B1;
}
.dotline .dotline-connec.vectical-bottom{ 
    bottom: 0px;    
    left: -7px; 
    border-top: 13px solid #0063B1;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}
.dotline .vectical-top{
    top: 0px;
    left: -6px; 
    border-bottom: 13px solid #0063B1;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}
.dotline.horizontal{ 
    border-top: 1px solid;
    top:61px;
}
.dotline.vectical{ 
    border-right: 1px solid;
}
 
.wf-wrap{
    float:left;
    width:auto;
    padding:20px 70px 20px 70px;
    border-radius:5px;
    border:2px dotted #E5E5E5;
    position: relative;
}
.wf-wrap .wf:not(:first-child .wf):not(.in-wrap){
    margin-left:80px;
}
.l550{
    left:550px
}
.l590{
    left:590px
}
.w380{
    width:380px;
}
.w190{
    width:190px;
}
.w150{
    width:150px;
}
.w220{
    width:220px;
}
.h60{
    height:60px;
}
.mar_l480{
    margin-left:480px
}
.mar_l520{
    margin-left:520px
}
.mar_l70{
    margin-left:70px
}
.mar_l140{
    margin-left:140px;
}
.mar_l290{
    margin-left:290px;
}
.mar_l330{
    margin-left:330px;
}
.mar_l340{
    margin-left:340px;
}
.mar_l360{
    margin-left:360px;
}
.horizol_ap_ar{
    height: 122px;
    margin-top: -60px;
}