.nav-system-menu {
    width: 100% !important;
    text-align: center;
    font-size: 24px !important;
}

.frm-default .frm-group select {
    width: auto;
    height: 25px;
}

.frm-default .frm-group .frm-btngroup input {
    width: 100px;
    height: 25px;
}

.frm-default .frm-group .frm-content-linear {
    padding-left: 10px;
}

.frm-default .frm-group .frm-btngroup .input-img-calendar {
    top: 0px;
}

.content-dashboard {
    width: 1060px; 
    margin: auto auto; 
    height: 100%;
}

.content-dashboard .sub-text {
    font-family: 'SegoeUI'; 
    font-size: 14px;
    color: #000000;
}

.content-dashboard .block-active {
    min-width: 160px;
    height: 70px;
    background-color: #0063B1;
    float: left;
}

.content-dashboard .block-active .sub-block {
    color: #FFFFFF;
    padding: 10px;
    text-align: right;
}

.content-dashboard .block-active .sub-block .sub-block-text-first {
    font-size: 20px;
    font-family: 'SegoeUI';
}

.content-dashboard .block-active .sub-block .sub-block-text-last {
    font-size: 13px;
    font-family: 'SegoeUI';
}

.content-dashboard .block-normal {
    min-width: 160px;
    height: 70px;
    border: 1px solid #E4E4E4;
    float: left;
}

.content-dashboard .block-normal .sub-block {
    color: #000000;
    padding: 10px;
    text-align: right;
}

.content-dashboard .block-normal .sub-block .sub-block-text-first {
    font-size: 20px;
    font-family: 'SegoeUI';
}

.content-dashboard .block-normal .sub-block .sub-block-text-last {
    font-size: 13px;
    font-family: 'SegoeUI';
    color: #0063B1;
}

.content-dashboard .chart-content {
    width: 70%;
    border-right: 1px solid #E4E4E4;
    float: left;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 25px;
}

.content-dashboard .chart-content .sub-Analysis, .content-dashboard .chart-content .sub-Compare {
    font-family: 'ThaiSanLite';
    font-size: 23px;
    float: left;
    color: #000000;
}

.content-dashboard .activity-content {
    width: 30%;
    margin-top: 20px;
    float: left;
}

.content-dashboard .activity-content .activity-sub-line {
    border-bottom: 2px solid #E4E4E4;
}

.content-dashboard .activity-content .sub-text {
    font-size: 14px;
    font-family: 'SegoeUI';
    color: #000000;
}

.content-dashboard .activity-content .activity-group {
    height: 355px;
}

.content-dashboard .activity-content .activity-group .icon-activity-l {
    border: 7px solid #FFFFFF;
    border-left-color: #1EB06A;
    position: absolute;
    margin-left: 25px;
    margin-top: 20px;
}

.content-dashboard .activity-content .activity-group .icon-activity-m {
    border: 7px solid #FFFFFF;
    border-left-color: #0063B1;
    position: absolute;
    margin-left: 25px;
    margin-top: 20px;
}

.content-dashboard .activity-content .activity-group .icon-activity-h {
    border: 7px solid #FFFFFF;
    border-left-color: #FF8282;
    position: absolute;
    margin-left: 25px;
    margin-top: 20px;
}

.content-dashboard .activity-content .activity-group .activity-frame {
    padding: 15px 0px 0px 50px;
}

.content-dashboard .activity-content .activity-group .activity-active:hover {
    cursor: pointer;
    color: #0063B1;
}

.content-dashboard .activity-content .activity-group .activity-active .activity-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content-dashboard .activity-content .activity-group .activity-text-date {
    font-style: oblique;
    font-size: 11px;
    color: #999999;
    margin-top: 5px
}

.content-dashboard .activity-content .activity-group .activity-none {
    color: #D7D7D7;
    font-family: "Thai Sans Lite Regular", "Thai Sans Lite";
    font-size: 22px;
    text-align: center;
    width: 318px;
    height: 355px;
    vertical-align: middle;
    display: table-cell;
}

.activity-all {
    cursor: pointer;
    font-size: 12px;
    color: #0063B1;
    float: right;
}

select#ChangSaleDateType, select#ChangPurchaseDateType {
    width: auto;
    height: 25px;
    border:0px;
    outline:0px;
    color: #0063B1;
}