<html>

<head>
    <title></title>
</head>
<script type="text/javascript" src="<?php echo base_url(); ?>extensions/scripts/App/Sales/Sales.js"></script>
<script type="text/javascript" src="<?php echo base_url(); ?>extensions/scripts/App/Sales/transac-SalesGoods.js"></script>
<style>
body{
    margin: 0 !important;
}
.h_80{
    height: 80% !important;
}
.h_100{
    height: 100% !important;
}
.sub_line{
    border:solid 0.3px #bfbfbf;
    width:100%;
    margin-left:10px
}
</style>
<body>
    <div class="container h_100">
        <div class="row" style="min-width: 1360px !important;min-height: 768px !important;" id='Sales-Page'>
            
            
        </div>
    </div>
</body>

</html>